<style>

.flex-section-container {
    margin: 24px 24px;
    padding:24px 0;
}

</style>
<div class="section-id-{{ section.id }}">
    <div class="flex-section-container">
        <span>gokhan</span>
    </div>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
