<style>

</style>
<div class="section-id-{{ section.id }}">
    <span>gokhan</span>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
