<style>

.flex-section-container {
    margin: 24px 24px;
    padding:24px 0;
}

</style>
<div class="section-id-{{ section.id }}">
    <div class="flex-section-container">
        <div class="D-Flex">
        {% for block in section.blocks %}
        <div class="Order-{{ block.settings.order_number }}">
            {{ block.settings.order_number }}
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Flex Section",
  "class": "section-flex-section",
  "settings": [],
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "id": "order_number",
          "type": "select",
          "label": "Order Number",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flex Section",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
