<style>

</style>
<div class="section-id-{{ section.id }}">
    <div class="free-delivery-container">
        {% for block in section.blocks %}
            <div class="free-delivery-item">
                <img src="{{ block.settings.icon }}" class="lazyload">
                <h3>{{ block.settins.content }}</h3>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Free Delivery Banner",
  "class": "section-delivery-banner",
  "settings": [],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "select_icon",
          "label": "Use icon",
          "options": [
            {
              "value": "return icon",
              "label": "Return Icon"
            },
            {
              "value": "free delivery",
              "label": "Free Delivery"
            },
            {
              "value": "location",
              "label": "Location"
            }
          ]
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Free Delivery Banner",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
