<style>

</style>
<div class="section-id-{{ section.id }}">
    <span>gokhan</span>
</div>

{% schema %}
{
  "name": "Free Delivery Banner",
  "class": "section-delivery-banner",
  "settings": [],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Free Delivery Banner",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
