<div class="section-id-{{ section.id }}">

</div>


{% schema %}
{
  "name": "Hero Carousel",
  "class": "section-hero-carousel",
  "settings": [

  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Hero Carousel",
      "settings": {
      },
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
