<div class="section-id-{{ section.id }}">
    <div class="container">
        {% for block in section.blocks %}
            <div class="gallery__image {% if block.type == 'image_on_left' %}image-left{% elsif block.type == 'image_on_right' %}image-right{% endif %}">
                {% if block.settings.image %}
                    <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="Hero Image" />
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
  "name": "Hero Carousel",
  "class": "section-hero-carousel",
  "settings": [],
  "blocks": [
    {
      "type": "image_on_left",
      "name": "Image on left",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "image_on_right",
      "name": "Image on right",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Carousel",
      "settings": {},
      "blocks": [
        {
          "type": "image_on_left"
        },
        {
          "type": "image_on_right"
        }
      ]
    }
  ]
}
{% endschema %}
