.PositionRelative {
    position: relative;
}

.PositionAbsolute {
    position: absolute;
}

.DisplayFlex {
    display: flex;
}

.FlexDirectionRow {
    flex-direction: row;
}

.FlexDirectionColumn {
    flex-direction: column;
}