.P-Relative {
    position: relative;
}

.P-Absolute {
    position: absolute;
}

.D-Flex {
    display: flex;
}

.F-Row {
    flex-direction: row;
}

.F-Column {
    flex-direction: column;
}

.A-Center {
    align-items: center;
}

.J-ContentCenter {
    justify-content: center;
}

.Gap8 {
    gap:8px;
}

.MarginNone {
    margin: 0;
}

.ColorWhite {
    color:white;
}

.ColorBlack {
    color:black;
}

.ColorBlue {
    color:#001d7c;
}

.BGColorBlue {
    background-color: #001d7c;
}

.BGColorWhite {
    background-color: white;
}

.F-Bold {
    font-weight: 700;
}


.Heading1 {
    font-size:72px;
}

.T-Center {
    text-align: center;
}

.T-Uppercase {
    text-transform: uppercase;
}

.Order-1 {
    order: 1;
}

.Order-2 {
    order: 2;
}

.Order-3 {
    order: 3;
}

.z-index-9 {
    z-index: 9;
}